<!-- partials/mainside.html -->
<div class="col-xs-12 col-sm-4 col-md-4" id="left-panel">
  <form name="filterForm">
    <div class="form-group">
      <label for="textSearch" class="col-sm-12 control-label">Search:</label>
      <div class="col-sm-11 col-md-offset-1">
        <input type="text" name="textSearch" ng-model="textSearch">
      </div>
    </div>
    <div class="form-group">
      <label for="artistFilter" class="col-sm-12 control-label">Artist:</label>
      <div class="col-sm-11 col-md-offset-1">
        <select id="artistFilter" class="form-control"
          ng-model="theArtistList"
          ng-options="song.artistName for song in songlist | unique: 'artistName' | orderBy: 'artistName'">
          <option selected disabled>Options</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="albumFilter" class="col-sm-12 control-label">Album:</label>
      <div class="col-sm-11 col-md-offset-1">
        <select id="albumFilter" class="form-control"
          ng-model="theAlbumList"
          ng-options="value.albumName for value in songlist | unique: 'albumName' | filter: {artistName: theArtistList.artistName}">
          <option selected disabled>Options</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default center-block" ng-click="clearFilter()">Clear Filter</button>
    </div>
  </form>
</div> <!--CLOSE: left-panel -->
<!-- Directive to insert right-panel template here -->
<ui-view/>